/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*body*/
body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 200;
    font-size: medium;
    color:black;
}

/*the barn logo*/
#barn-logo {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    color: #b99700;
    font-size: x-large;
    text-decoration: none;
}

/*navagation bar area*/
nav {
    background-color: black;
}
span i {
    color: #b99700;
}

.nav-links {
    color: #b99700;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px;
    list-style-type: none;
    float: right;
    position: relative;
    bottom: 40px;
    font-size: small;
}
.nav-options {
    display: inline;    
    font-size: small;
}

/*main image*/
.hero-image {
    background: url('https://res.cloudinary.com/dugjc92qc/image/upload/v1684575024/hero-image_mbcle9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    min-height: 250px;
    max-width: 100%;
}

.btn-book {
    background-color: #b99700;
    margin: 20px;

}

.bookingbutton {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.food-image {
    background: url("https://res.cloudinary.com/dugjc92qc/image/upload/v1684860611/restaurant_squid_owd9jq.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    position: relative;
    width: 300px;

}

p {
    text-align: center;
    font-weight: 100;
    font-size: smaller;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 10px;
}

.fish-chips {
    background: url("https://res.cloudinary.com/dugjc92qc/image/upload/v1684867628/restaurant_fish_ndqxwa.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    position: relative;
    width: 300px;
}

.text {
    margin-top: 20px;
}

/*footer area*/

footer {
    color: #b99700;
    background-color: black;
}

/*Social Links*/

.social-links {
    text-align: center;
}
.social-links > a {
    color: #b99700;
    text-decoration: none;
}

#copyright {
    text-align: center;
}

/*login/signup buttons*/
.btn-signup {
    background-color: #b99700;
    color: white;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #edce43;
    color: white;
}

#submit-button{
    text-align: center;
}

/*Thank you image */
.thankyou-image{
background: url('https://res.cloudinary.com/dugjc92qc/image/upload/v1687592603/restaurant_table_xfcww3.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment:scroll;
min-height: 200px;
max-width: 100%;
margin-bottom: 40px;
}


.btn-dark {
    background-color: #b99700;
    color: black;
}

#user-booking {
    margin-top: 20px;
    text-align: center;
}

.menu-title {
    text-align: center;
    color: #b99700;
}

.menu-text {
    text-align: center;
    margin-bottom: 10px;
    color: #b99700;
    font-size: larger;
    font-weight:bolder;
}

.fa-file-pdf {
    color: #b99700;
    margin-left: 7px;
    font-size: 25px;
}

/*menu image*/
#menu-image{
    background: url('https://res.cloudinary.com/dugjc92qc/image/upload/v1687592603/restaurant_table_xfcww3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    min-height: 330px;
    max-width: 100%;
    }
.menu-container-1{
    padding-top: 70px;
  
}
.menu-container {
    background-color: rgba(247, 247, 246, 0.7);
    padding-bottom: 10px;
}    


  
/*media querys*/
/*Large screen sizes with max width of 1300px*/

@media only screen and (max-width:1300px) {

    .menu-title {
        font-size: 100%;
        left: 110px;
    }

    #user-booking, h6 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
    #make_booking, h5{
        right: 10px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*Medium screen with a min screen width of 768px*/

@media only screen and (min-width: 768px) {

    .menu-title {
        font-size: 24px;
        position: relative;
    }
}

/*Small screen sizes with a max width of 320px*/
@media screen and (max-width: 320px) {

    .menu-title {
        font-size: 18px;
    }
}