/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*body*/
body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 200;
    font-size: medium;
    color:black;
}

/*the barn logo*/
#barn-logo {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    color: #b99700;
    font-size: x-large;
}

/*navagation bar area*/
nav {
    background-color: black;
}
span i {
    color: #b99700;
}

.nav-links {
    color: #b99700;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px;
    list-style-type: none;
    float: right;
    position: relative;
    bottom: 40px;
}
.nav-options {
    display: inline;    
    font-size: small;
}

/*main image*/
.hero-image {
    background: url('https://res.cloudinary.com/dugjc92qc/image/upload/v1684575024/hero-image_mbcle9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    min-height: 250px;
    max-width: 100%;
}

.btn-book {
    background-color: #b99700;
    margin: 10px;
}

#bookingbutton {
    text-align: center;
}

.food-image {
    background: url("https://res.cloudinary.com/dugjc92qc/image/upload/v1684860611/restaurant_squid_owd9jq.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    position: relative;
    width: 300px;

}

p {
    text-align: center;
    font-weight: 100;
    font-size: smaller;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    
}

.fish-chips {
    background: url("https://res.cloudinary.com/dugjc92qc/image/upload/v1684867628/restaurant_fish_ndqxwa.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    position: relative;
    width: 300px;
}

/*footer area*/

footer {
    color: #b99700;
    background-color: black;
}

/*Social Links*/

.social-links {
    text-align: center;
}
.social-links > a {
    color: #b99700;
    text-decoration: none;
}

#copyright {
    text-align: center;
}

/*login/signup buttons*/
.btn-signup {
    background-color: #b99700;
    color: white;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #edce43;
    color: white;
}

