{% extends "base.html" %}

{% block content %}

<!--delete booking section-->
<section id="make-booking" class="booking-table">
    <h5>Delete Your Booking Here: </h5>
<div class="booking-container">
    <div class="row">
    <div class="col-md-3 mt-5 offset-md-3">
    <form method="POST"> 
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ booking }}"?</p>
        <input type="submit" value="Confirm Booking Delete" class="btn btn-danger">
        <a href="{% url 'home' %}" class="btn btn-dark">Back To Home</a>
    </form>
</div> 
</div>
</div>
</section>

{%endblock%} 