{% extends "base.html" %}

{% block content %}

<!--delete booking section-->
<!--make a booking section-->
<section id="make-booking" class="booking-table">
    <h5>Delete Your Booking Here: </h5>
<div class="booking-container">
    <div class="row">
    <div class="col-md-3 mt-5 offset-md-3">
    <form method="POST"> 
        {% csrf_token %}
        

        <button id="submit" value="Confirm" class="btn btn-dark" href="">Delete</button>
        <button id="submit-button" class="btn btn-dark" href=" {% url 'home' %}">Back</button>
    </form>
</div> 
</div>
</div>
</section>

{%endblock%} 