{% extends "base.html" %}

{% block content %}

<div class="hero-image">
</div>

<div class="bookingbutton">
    <a href="{% url 'make_booking' %}" class="btn btn-book btn-md">Book Now</a>
</div>

<div class="food-image mx-auto d-block img-fluid">
</div>

<div class="text">
    <p>Welcome to The Barn Restaurant, we are a family run restaurant and we are passionate about using only the best
        ingredients for our dishes, all of which are locally sourced.
        Come and dine with us and experience comforting meals and an intimate dining space. Whether you are celebrating
        a birthday, having a date night or just popped in because you fancied a meal, we look forward to serving you and
        hope you enjoy your visit.
    </p>
</div>


<div class="fish-chips mx-auto d-block img-fluid">
</div>

<div class="text">
    <p>Opening Times:</p>
    <p>Mon-Sun: 12pm till 10pm </p>

</div>
{%endblock%}