{% extends "base.html" %}

{% block content %}
<!--Restaurant Image-->

<div class="hero-image">
</div>

<!--Book Now Button-->
<div id="bookingbutton">
<button class="btn btn-book btn-md" type="button">Book Now</button>
</div>

<!--Image Food 1-->
<div class="food-image mx-auto d-block img-fluid">
</div>


<!--Welcome To Section-->
<div><p>Welcome to The Barn Restaurant, we are </p>
</div>

<!--Image Food 2 -->
<div class="fish-chips mx-auto d-block img-fluid">
</div>

<!--Opening Times-->
<div>
<h5>Opening Times :</h5>
<p>12pm till 10pm Monday to Sunday</p>
</div>
{%endblock%}