{% extends "base.html" %}

{% block content %}
<!--Restaurant Image-->

<div class="hero-image">
</div>

<!--Book Now Button-->
<div class="bookingbutton">
<a href="{% url 'make_booking' %}" button type="submit" class="btn btn-book btn-md">Book Now</a>
</div>

<!--Image Food 1-->
<div class="food-image mx-auto d-block img-fluid">
</div>


<!--Welcome To Section-->
<div class="text">
<p>Welcome to The Barn Restaurant, 
    we are a family run restaurant who are passionate about using only the best
     and local ingredients in our dishes. </p>
</div>

<!--Image Food 2 -->
<div class="fish-chips mx-auto d-block img-fluid">
</div>

<!--Opening Times-->
<div class="text">
<p>Opening Times:</p> 
<p>Mon-Sun: 12pm till 10pm </p>

</div>
{%endblock%}