{% extends "base.html" %} 

{% block content %}
<!--User authorisation to make booking-->


<!--make a booking section-->
<section id="make-booking" class="booking-table">
    <h5>Enter Your Details Here: </h5>
<div class="booking-container">
    <div class="row">
    <div class="col-md-3 mt-5 offset-md-3">
    <form method="POST"> <!--BUG HERE FIX-->
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit-button" class="btn btn-success" href="">Book Now</button>
    </form>
</div> 
</div>
</div>
</section>


{%endblock%}