{% extends "base.html" %}

{% block content %}

<!--Menu page click on link and PDF will open in a new tab-->

<section id="menu-image">
    <div class="menu-container-1">


    </div>
    <div class="menu-container">
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">

                <div class="menu-text">
                    <h4 class="menu-title">The Barn Menu </h4>
                    <br>
                    <a href="../static/css/menu/barnmenu.pdf" class="menu-text menu-title " target="_blank"
                        rel="noopner">Download Our Menu Here<i class="fa-solid fa-file-pdf" aria-hidden="true"
                            aria-label="Download our menu (Opens in a new tab)"></i></a>

                </div>
            </div>
        </div>
    </div>

</section>


{%endblock%}