{% extends "base.html" %} 

{% block content %} 

<!--my booking section-->
<section id="my-booking">
    <h5>Your Bookings: </h5> 

<div class="booking-container">
    <div class="row">
    <div class="col-md-3 mt-5 offset-md-3">
    <ul>
        <form method="POST">
        {% for object in object_list %}
        <li>Number of guests: {{ object.guest }}</li>
        <li>Date: {{ object.day }}</li>
        <li>Time: {{ object.time }}</li>
        <li>First Name: {{ object.f_name }}</li>
        <li>Last Name: {{ object.l_name }}</li>
        <li>Email: {{ object.email }}</li>
        {% empty %}
        <!-- If object_list is empty  -->
       <li>No Bookings Made Yet</li>
       {% endfor %}
    </ul>
       
</form>
        <a href="{% url 'edit_booking' %}" class="btn btn-success">Edit Booking</a>
        <a href="{% url 'delete_booking' %}" class="btn btn-danger">Delete Booking</a>
</div> 
</div>
</div>
</section>

<a href="{% url 'home' %}" class="btn btn-dark">Back To HomePage</a>


{%endblock%}