{% extends "base.html" %} 

{% block content %} 

<!--my booking section-->
<section id="user-booking">
    <h6>{{ user.username }}, Here Are Your Bookings </h6> 

<div class="container">
    <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
<!--booking in bookings?-->

        {% for booking in bookings %}
     
        <div class="border border-dark">
        <p>Booking No: {{booking.id}}</p>
        <p>Number of guests: {{ booking.guest }}</p>
        <p>Date: {{ booking.day }}</p>
        <p>Time: {{ booking.time }}</p>
        <p>First Name: {{ booking.first_name }}</p>
        <p>Last Name: {{ booking.last_name }}</p>
        <p>Email: {{ booking.email }}</p>
        
        <div>
        <a href="{% url 'edit_booking' booking.id %}" button type="submit" class="btn btn-success" align="right">Edit Booking</a>
        <a href="{% url 'delete_booking' booking.id %}" button type="submit" class="btn btn-danger">Delete Booking</a>
       </div>
        </div>
        {% empty %}
        <!-- If booking list is empty  -->
       <p>No Bookings Made Yet</p>
        
       {% endfor %}
     
</form>
<div class="bookingbutton">

<a href="{% url 'home' %}" class="btn btn-dark">Back To HomePage</a>
</div>
</div>
</div>
</div>
</section>


{%endblock%}